/* Importing the Space Grotesk font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

/* Styling for the html and body elements */
html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: gray;
  font-family: 'Space Grotesk', sans-serif;
  scroll-behavior: smooth; /* Smooth scrolling behavior */
  overflow: hidden; /* Hiding the scrollbar */
}

body {
  opacity: 0;
  transition: opacity 5s;
}

/* Scrollbar Styles */
body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track,
body::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb:hover {
  background-color: transparent; /* Transparent background for the scrollbar */
}

/* Styling for sections */
section {
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

/* Styling for section with id 'greet' */
#greet {
  justify-content: center;
  align-items: center;
}

#greet h1 {
  font-size: 90px;
  margin: 5px;
}

#greet h2 {
  font-size: 35px;
  margin: 5px;
}

#greet svg:hover rect {
  fill: white; /* Changing fill color on hover */
}

/* Styling for the 'button-down' class */
.button-down {
  position: fixed;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
}

/* Styling for section with id 'main' */
#main {
  background-color: black;
  height: 100vh;
  display: flex;
  overflow: hidden; /* Hide the scrollbar */
}

#main::-webkit-scrollbar {
  width: 0.5em; /* Adjust the width as needed */
}

#main::-webkit-scrollbar-track {
  background: transparent; /* Set the track color to match the background */
}

#main::-webkit-scrollbar-thumb {
  background: transparent; /* Set the handle color to transparent */
}

/* Styling for the 'nav' element within section 2 */
#main > nav {
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
  padding: clamp(1rem, 5vw, 6rem);
}

/* Styling for links within the 'nav' element */
#main > nav > a {
  color: rgba(255, 255, 255, 0.25);
  font-size: clamp(3rem, 8vw, 10rem); /* Responsive font size using the 'clamp' function */
  font-weight: 300;
  text-decoration: none;
  position: relative;
}

#main > nav > a:hover {
  color: white; /* Changing link color on hover */
}

#main > nav > a > span {
  display: block;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  position: relative;
  z-index: 2;
}

#main > nav > a:hover > span {
  border-top-color: white; /* Changing border color on hover */
  border-bottom-color: white;
}

#main > nav > a > img {
  position: absolute;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.5);
  transition: transform 250ms, opacity 250ms; /* Transition effects for image scaling and opacity */
  pointer-events: none;
  width: min(40vw, 500px); /* Responsive image width using the 'min' function */
}

#main > nav > a:hover > img {
  opacity: 1; /* Changing image opacity on hover */
  transform: translate(-50%, -50%) scale(1); /* Scaling image on hover */
}

/* Styling for section with id 'about' and 'contact' */
#about,
#contact {
  height: 100vh;
}

/* Styling for 'h1' and 'p' elements within 'about' and 'contact' sections */
#about h1,
#contact h1 {
  font-size: 90px;
  margin: 50px;
}

#about p,
#contact p {
  font-size: 40px;
  margin: 50px;
}

/* Styling for the 'resume' link within 'about' section */
#about .resume a {
  font-size: 30px;
}

/* Styling for navigation links within 'about' section */
#about .navigation a {
  font-size: 30px;
  margin: 50px;
  font-weight: bold;
}

/* Styling for navigation links within 'contact' section */
#contact .navigation a {
  font-size: 30px;
  font-weight: bold;
  margin: 50px;
}

/* Styling for links within 'about' and 'contact' sections */
#contact a,
#about a {
  text-decoration: none;
  color: inherit;
}

#contact a:hover {
  text-decoration: line-through;
}

#about a:hover {
  text-decoration: line-through;
  color: #f5f5f5;
}

/* Styling for the 'resume' link within 'about' section on hover */
#about > .resume > a:hover {
  text-decoration: line-through;
  color: blue;
}

/* Styling for social media icons within 'contact' section and 'resume' link within 'about' section */
#contact .twitter,
#contact .linkedIn,
#contact .email,
#contact .github,
#contact .dev,
#about .resume {
  font-size: 130px;
  font-weight: bold;
}

#contact .twitter {
  color: #00acee;
}

#contact .linkedIn {
  color: #0000ff;
}

#contact .email {
  color: #BB001B;
}

#contact .github {
  color: #6e5494;
}

#contact .dev {
  color: #f5f5f5;
}
